<div class=" container-fluid d-flex justify-content-between p-3">

    <div class="Songs">
        <span class="allsongs">All Songs</span>
        
    </div>
    <div class="text d-flex">
        <div class="search d-inline-flex">
            <input type="text" placeholder="Search songs...">
            <i class="fa fa-search search-icon text-light"></i>
        </div>
        <div class="upload">
            <button class="btn text-dark"> <i class="pi pi-cloud-upload icon1"></i> Upload Song</button>
        </div>
    </div>
</div>