<div class="container-fluid d-flex flex-column  bg-dark cont1">
    <div class="song">
        <a routerLink="./songmanagement">
        <i class="fa fa-music text-light icon pt-3"></i>
        <span class="text-light text p-3">Songs Management</span>
        </a>
    </div>
    <div class="event">
        <a routerLink="./eventmanagement">
        <i class="fa fa-calendar text-light icon pt-3"></i>
        <span class="text-light p-3">Event Management</span>
        </a>
    </div>
    <div class="band">
        <a routerLink="./bandprofile">
        <i class="fa fa-group text-light icon pt-3"></i>
        <span class="text-light p-3">Band Profile</span>
        </a>
    </div>

</div>